
.icon-learn:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-watch:before { content: '\e804'; } /* '' */
.icon-bulb:before { content: '\e805'; } /* '' */
.icon-gauge:before { content: '\e806'; } /* '' */
.icon-screen:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-calc:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-bug:before { content: '\e80c'; } /* '' */
.icon-water:before { content: '\e80d'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */
.icon-yelp:before { content: '\e810'; } /* '' */
.icon-book:before { content: '\e811'; } /* '' */
.icon-youtube:before { content: '\e812'; } /* '' */